body {
    margin: 0;
    background-color: black;
}

a {
    color: #111;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
}

div {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}